*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   font-family: serif;
}

section1{

    max-width: 1320x;
    margin: auto;
    padding: 60px;
    color: teal;
}

.container{
    max-width: 1400px;

    margin: auto;
    padding: 20px;
}

.box{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 50px;
}

.boxes{
    width:33%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
    padding: 20px; 
}

.img{
    width: 40%;
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(82, 101, 199, 0.908) 0px 7px 29px 0px;
}

.content{
    width: 50%;
}






